[Desktop Entry]
Name=IP Address
Exec=python /home/user/MyDocs/Local/github/mfrasca/ipaddr-widget/ipaddr-widget.py
Icon=/home/user/.config/widgets/ipaddr.png
Terminal=false
Type=Application
Categories=System;

